body{
    color: hsl(210, 3%, 16%);
    background-color: #BFCCB5;
}
@keyframes slideineff {
    0%{
        opacity: 0%;
        transform: translateX(-30%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        opacity: 0%;
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        opacity: 100%;
    }
}

.row{
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.row-item{
    min-width: 300px;
    width: 45%;
    margin: 10px;
    padding: 10px;
}

.img-trans{
    width: 100%;
    aspect-ratio: 1.33;
    /*display: inline;*/
    animation: 1s ease-out 0s 1 slideineff;
}

.fly-in-div{
    animation: 1s ease-in 0s 1 zoom-in-zoom-out;
}

.team{
    padding: 10px 7%;
}

.content-box{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.content-item{
    width: 345px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    outline: 1px solid black;
    padding: 5px;
    text-align: center;
}



