body{
    background-color: #BFCCB5;
    color: hsl(210, 3%, 16%);
}

.border {
    background-color: #F0F0F0;
    text-align: center;
    border: hsl(210, 3%, 16%);
    border-width: 5px;
    border-style: solid;
    margin: 10px;
    padding: 5px;
    border-top-left-radius: 50px;
    transition: 0.2s;
    border-bottom-right-radius: 50px;
    min-width: 300px;
}

.border,
.main-para {
    background-color: #EEEEEE;
}
.border:hover{
    border-width: 10px;
    /* transition: 0.5s; */
}
.button-font{
    background-color: white;
    color: hsl(210, 3%, 16%);
    border: solid hsl(210, 3%, 16%);
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
    transition: 0.5s;
}
.button-font:hover{
    background-color: hsl(210, 3%, 16%);
    color: white;
}
/* .main-spacing .main-para .main-h4{
    text-align: center;
} */
.spacing {
    margin-top: 80px;
    margin-left: 20px;
}

.image {
    height: 20%;
    width: 40%;
    margin: 20px;
}

.left-spacing {
    text-align: left;
    border-left: 40px;
    margin: 0 20px;
}

.justify {
    text-align: justify;
    margin: 0 20px;
    
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    text-align: center;
    margin : 20px 10%;
    width: 80%;
    background-color: hsl(210, 3%, 16%);
}

th,
td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
    background-color: white;
    text-align: center;
}


.event {
    color: hsl(210, 3%, 16%);
}

.event > h3 {
    margin: 0;
    padding: 20px 5%;
}

.event-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 90%;
    /* border-radius: 10px; */
    padding: 20px 5%;
    
}

.event-container-item{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 450px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    outline: 2px solid hsl(210, 3%, 16%);
    padding: 10px;
    text-align: justify;
}

.event-container-item > h4 , .event-container-item > h5 {
    text-align: center;
}

.event-container-item > img{
    max-width: 300px;
    max-height: 200px;
}

.event-container-item:hover{
    border-width: 10px;
}

.hrow{
    height: 1px;
    border-radius: 10px;
    width: 95%;
}